<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <h1><%= photo.title %></h1>
            <hr>
            <div>
                <img src="<%= photo.imageUrl %>" alt="<%= photo.title %>">
            </div>
            <h2><%= photo.price %></h2>
            <p><%= photo.description %></p>
            <%- include('../includes/add-to-cart.ejs') %>
        </main>
        <%- include('../includes/end.ejs') %>